* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

.main_box {
    background-image: url(photo.jpg);
    background-size: cover;
    height: 100vh;
}

.btn_one {
    font-size: 30px;
    color: white;
    position: absolute;
    left: 15px;
    line-height: 60px;
    font-weight: 500;
    cursor: pointer;
    
}

.logo {
    font-size: 25px;
    position: absolute;
    width: 100%;
    line-height: 65px;
    box-shadow: 0 2px 4px rgb(255, 255, 255);
    height: 70px;
    
}

.sidebar_menu {
    position: absolute;
    left: -350px;
    height: 100vh;
    width: 300px;
    background-color: rgb(240, 248, 255, 0.1);
    box-shadow: 0 0 6px rgb(255, 255, 255, 1);
    transition: all 0.4s linear;
    
}

.logo a {
    color: wheat;
    position: absolute;
    left: 50px;
    text-decoration: none;
    font-weight: 500;
    top: 3px;
}

.menu {
    color: white;
    width: 100%;
    position: absolute;
    top: 80px;

}

.btn_two i {
    font-size: 25px;
    color: white;
    position: absolute;
    left: 260px;
    line-height: 69px;
    transition: all 0.4s linear;
    cursor: pointer;
}

li {
    padding: 10px 20px;
    margin-top: 6px;
}

.menu a,i {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

i {
    padding-right: 8px;
}

.sidebar_menu .social_media  {
    opacity: 0.5;
    position: absolute;
    left: 25%;
    bottom: 30px;
    padding: 0 5px;
}

#check {
    display: none;
}

li:hover {
    box-shadow: 0 0 4px white;
}

.btn_one i:hover {
    font-size: 30px;
    line-height: 65px;
}

.btn_two i:hover {
    font-size: 40px;
    left: 255px;
}

.social_media:hover {
    opacity: 1;
    transform: scale(1.2);
}

#check:checked ~ .sidebar_menu {
    position: absolute;
    left: 0;
}

#check:checked ~ .btn_one {
    opacity: 0;
}

/* My Own Addition */

.cap {
    color: rgb(245, 222, 179, 0.5);
    font-size: 50px;
    position: absolute;
    left: 1640px;
    top: 780px;
}

.mom {
    color: rgb(245, 222, 179, 0.5);
    font-size: 50px;
    position: absolute;
    left: 1670px;
    top: 830px;
}

.pix {
    color: wheat;
    font-size: 100px;
    position: absolute;
    top: 320px;
    left: 740px;
    
}

.per {
    color: wheat;
    font-size: 100px;
    position: absolute;
    left: 980px;
    top: 400px;
    
}

@media (orientation: portrait) {
    .main_box{
        background-size: auto;
    }
    
    .cap {
        color: rgb(245, 222, 179, 0.5);
        font-size: 50px;
        position: absolute;
        left: 18%;
        top: 70%;
    }
    
    .mom {
        color: rgb(245, 222, 179, 0.5);
        font-size: 50px;
        position: absolute;
        left: 22%;
        top: 78%;
    }
    
    .pix {
        color: wheat;
        font-size: 100px;
        position: absolute;
        top: 10%;
        left: 22%;
        
    }
    
    .per {
        color: wheat;
        font-size: 100px;
        position: absolute;
        left: 5%;
        top: 28%;
        
    }

    .sidebar_menu {
        position: absolute;
        left: -350px;
        height: 100vh;
        width: 300px;
        background-color: rgb(0, 0, 0);
        box-shadow: 0 0 6px rgb(255, 255, 255, 0.8);
        transition: all 0.4s linear;
        
    }
}
